# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log
*.tmp

# Virtual environments
env/
venv/
.venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Cache and data
data/uploads/*
!data/history.csv
history.csv
# Model weights
models/*.pt

# Streamlit cache
.streamlit/
.stfolder/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
